<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644970365024-5qmgah8u4thgno62oif0ude539q4imie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644970365024-5qmgah8u4thgno62oif0ude539q4imie</string>
	<key>API_KEY</key>
	<string>AIzaSyBugB2V8ifQiyAWTsW5HLeyQWUyL9I6oTk</string>
	<key>GCM_SENDER_ID</key>
	<string>644970365024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meuapp</string>
	<key>PROJECT_ID</key>
	<string>app-202211</string>
	<key>STORAGE_BUCKET</key>
	<string>app-202211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644970365024:ios:3a1a074c8e7ec987d44305</string>
</dict>
</plist>